<!-- ============================================ -->
<!--              Navigation header               -->
<!-- ============================================ -->

<header id="navigation">
    <div class="container">
        <a href="/" class="logo" aria-label="back to home" tabindex="2">
            <img src="/assets/svgs/combo.svg" alt="Blossom web design logo" decoding="async">
        </a>
        <nav class="nav" role="navigation">
            <!-- mobile navigation -->
            <button class="toggle" id="mobile-menu-toggle" aria-expanded="false" aria-controls="expanded-ul" aria-label="mobile menu toggle" tabindex="4">
                <div class="box" aria-hidden="true">
                    <span class="line line1" aria-hidden="true"></span>
                    <span class="line line2" aria-hidden="true"></span>
                    <span class="line line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- nav list -->
            <div class="ul-wrapper">
                <ul id="expanded" class="ul">
                    {% set navPages = collections.all | eleventyNavigation %}

                    {% for entry in navPages %}

                        {# Define a hasChild variable to make it easier to test what navigation items are have child dropdown pages #}
                        {% set hasChild = entry.children.length %}

                        {# Check the frontmatter for hideOnMobile/hideOnDesktop. Form a list of classes to be joined when the item is rendered #}
                        {% set hideClasses = [] %}
                        {% if entry.hideOnMobile %}
                            {% set hideClasses = (hideClasses.push("hide-on-mobile"), hideClasses) %}
                        {% endif %}
                        {% if entry.hideOnDesktop %}
                            {% set hideClasses = (hideClasses.push("hide-on-desktop"), hideClasses) %}
                        {% endif %}

                        {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes #}
                        <li class="li {% if hasChild %} dropdown {% endif %} {{ hideClasses | join(" ") }}">

                            {# If the page has child dropdown pages, render it as a button tag with the appropriate dropdown HTML #}
                            {% if hasChild %}

                                {# Check to see if the user's current page is one of the child pages. If so, apply the cs-active class to the dropdown parent #}
                                {% set activeClass = "" %}
                                {% for child in entry.children %}
                                    {% if child.url == page.url %}
                                        {% set activeClass = "active" %}
                                    {% endif %}
                                {% endfor %}

                                {# Render the button with the active class, dropdown icon and child links #}
                                <button 
                                    class="li-link dropdown-button {{ activeClass }}"
                                    aria-expanded="false"
                                    aria-controls="dropdown-{{ entry.key }}"
                                    aria-label="dropdown-{{ entry.key }}"
                                >
                                    {{ entry.key }}
                                    <img class="drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                </button>

                                {# Dropdowns have another ul/li set up within the parent li, which gets rendered in the same way as a normal link #}
                                <ul class="drop-ul" id="dropdown-{{ entry.key }}">
                                    {% for child in entry.children %}
                                        <li class="drop-li">
                                            <a href="{{ child.url }}" class="li-link drop-link">{{ child.key }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {# Normal pages are rendered as <a> tags, in the normal way you'd expect #}
                                <a href="{{ entry.url }}" class="li-link {% if entry.url == page.url %} active {% endif %}" {% if entry.url == page.url %} aria-current="page" {% endif %}>
                                    {{ entry.key }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    <div class="company-details li hide-on-desktop">
                        <li class="li">
                            <a class="" href="mailto:hello@blossomwebdesign.com">hello@blossomwebdesign.com</a>
                        </li>
                        <li class="li">
                            <a class="" href="tel:+31645607893">06 4560 7893</a>
                        </li>
                    </div>
                    <div id="nav-contact" class="hide-on-mobile" role="button">
                        <button>Contact</button>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</header>