<!-- ============================================ -->
<!--              Navigation header               -->
<!-- ============================================ -->

<header id="navigation">
    <div class="container">
        <a href="/" class="logo" aria-label="back to home" tabindex="2">
            <img src="/assets/svgs/blossom.svg" alt="Blossom web design logo showing a modern and simplistic take on the cherry blossom" decoding="async">
        </a>
        <nav class="nav" role="navigation">
            <!-- mobile navigation -->
            <div id="menu-button">
                <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle  cx="50" cy="50" r="50" stroke-width="3" />
                </svg>
                <button class="toggle" id="mobile-menu-toggle" aria-expanded="false" aria-controls="cs-expanded-ul" aria-label="mobile menu toggle" tabindex="4"></button>
            </div>
        </nav>
    </div>
</header>