---
type Props = {

}

const {} = Astro.props

---
<section class="min-h-screen w-full p-7">
    <div class=" ">
        <h1 class="text-h1 my-xs">Website design en ontwikkeling</h1>
        <p>Op maat gemaakte websites met presentatie, snelheid en vindbaarheid als focus</p>
        <a href="/contact" class="text-h6">Neem direct contact op</a>
    </div>
</section>