---
type Props = {

}

const {} = Astro.props

---

<div class=" w-screen h-[108px] bg-primaryDark">

</div>
<!-- <header id="navigation">
    <div class="container">
        <a href="/" class="logo" aria-label="back to home" tabindex="2">
            <img src="/assets/svgs/combo.svg" alt="Blossom web design logo" decoding="async">
        </a>
        <nav class="nav" role="navigation">
            <button class="toggle" id="mobile-menu-toggle" aria-expanded="false" aria-controls="expanded-ul" aria-label="mobile menu toggle" tabindex="4">
                <div class="box" aria-hidden="true">
                    <span class="line line1" aria-hidden="true"></span>
                    <span class="line line2" aria-hidden="true"></span>
                    <span class="line line3" aria-hidden="true"></span>
                </div>
            </button>
            <div class="ul-wrapper">
                <ul id="expanded" class="ul">
                    <li>Services</li>
                    <li>Roadmap</li>
                    <li>About </li>
                    <div class="company-details li hide-on-desktop">
                        <li class="li">
                            <a class="" href="mailto:hello@blossomwebdesign.com">hello@blossomwebdesign.com</a>
                        </li>
                        <li class="li">
                            <a class="" href="tel:+31645607893">06 4560 7893</a>
                        </li>
                    </div>
                    <div id="nav-contact" class="hide-on-mobile" role="button">
                        <button>Contact</button>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</header> -->

<style>

</style>